:root {
	--app-header-bg: #{$white};
	--app-header-color: #{$gray-900};

	--app-sidebar-bg: #{$gray-200};
	--app-sidebar-color: #{$gray-600};
	--app-sidebar-active-component-bg: #{$theme};
	--app-sidebar-hover-color: #{$gray-900};

	--page-padding-x: #{$page-padding};
	--app-contents-bg: #{$gray-300};
	--app-contents-color: #{$black};

	--app-footer-color: #{$gray-600};
	--app-component-bg: #{$white};
	--app-component-color: #{$gray-900};
	--app-component-active-color: #{$black};
	--app-component-border-color: #{$gray-400};
	--app-component-disabled-bg: #{$gray-200};
	--app-component-disabled-color: #{$gray-400};

	--app-component-modal-bg: #{$white};

	--page-contents-bg: #{$gray-100};
	--page-contents-header-bg: #{tint-color($gray-200, 30%)};

	@include media-breakpoint-down(sm) {
		--page-padding-x: #{$page-padding / 2};
	}
}

.dark-mode {
	--app-header-bg: #{shade-color($gray-800, 15%)};
	--app-header-color: #{$white};

	--app-sidebar-bg: #{$gray-900};
	--app-sidebar-color: #{$gray-500};
	--app-sidebar-active-component-bg: #{$theme};
	--app-sidebar-hover-color: #{$white};

	--app-contents-bg: #{shade-color($gray-900, 15%)};
	--app-contents-color: #{$white};

	--app-component-bg: #{$gray-800};
	--app-component-color: #{$gray-100};
	--app-component-active-color: #{$white};
	--app-component-border-color: #{$gray-700};
	--app-component-disabled-bg: #{$gray-700};
	--app-component-disabled-color: #{$gray-600};

	--app-component-modal-bg: #{$gray-800};

	--page-contents-bg: #{$gray-800};
	--page-contents-header-bg: #{shade-color($gray-800, 30%)};

	& .button {
		&-default {
			background: $gray-600;
			border-color: $gray-600;
			color: $white;

			&:hover,
			&:focus,
			&.active {
				background: $gray-700;
				border-color: $gray-700;
				color: $white;
			}
		}
		&-gray {
			background: #161a1d;
			border-color: #161a1d;
			color: $white;

			&:hover,
			&:focus,
			&.active {
				background: $gray-900;
				border-color: $gray-900;
				color: $white;
			}
		}
	}
	& .form {
		&-select {
			background-blend-mode: screen;
		}
	}
}
