.app-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: var(--app-header-height);
	padding: 0 var(--app-contents-padding);
	margin-left: $app-sidebar-width;
	border-top: 1px solid var(--app-component-border-color);
	background-color: var(--app-contents-bg);
	color: var(--app-footer-color);
	@include media-breakpoint-down(lg) {
		margin-left: 0;
	}
}

.copyright {
	font-size: 0.9231rem;
		
}