.app-contents {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	height: calc(100vh - 100px);
	margin-left: $app-sidebar-width;
	padding: 1.25rem var(--app-contents-padding);
	background-color: var(--app-contents-bg);
	color: var(--app-contents-color);	
	@include media-breakpoint-down(lg) {
		margin-left: 0;
	}
}