.page-contents {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	border-radius: 0.25rem;
	box-shadow: none;
	background-color: var(--page-contents-bg);

	&-header {
		margin: 0;
		padding: 1rem;
		background-color: var(--page-contents-header-bg);
		font-size: 1rem;
		font-weight: 400;
		line-height: 1;
	}
	
	&-body {
		padding: 1rem;
	}
}