@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;600;700;900&display=swap');


.required {
    color: $red
}

// 상세 페이지
.info-title {
    padding-bottom: 0.5rem;
    font-size: 0.9rem;     
    font-weight: 700; 
    color: var(--app-header-color);

	@include media-breakpoint-down(sm) {
        font-size: 0.85rem;
	}
}